<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whitewalk.dao.IUserBookMarksDao">
	
	<!-- 根据用户id查询用户的书签数 -->
	<select id="findUserBookMarksCountByUserId" parameterType="int" resultType="int">
		select count(*) from userbookmarks where userId=#{id}
	</select>

</mapper>